@import url('base.css');

.password-details {
    background-color: #2b2e34; /* Цвет фона блока с деталями пароля */
    padding: 20px;
    border-radius: 5px; /* Закругляем углы */
    width: 100%;
    max-width: 600px; /* Ограничиваем ширину блока */
    margin-top: 20px; /* Добавляем отступ сверху */
}

.password-details p {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ffffff; /* Белая линия под каждым элементом */
}

.password-details p:last-child {
    border-bottom: none; /* Убираем линию после последнего элемента */
}