@import url('base.css');
@import url('components/search.css');
@import url('components/table.css');

.search-add-container {
    margin-bottom: 24px; /* Расстояние между search-add-container и таблицей */
}

h2 {
    font-size: 20px;
    text-align: left;
    margin-left: 16px;
}
