{% extends "base.html" %}

{% block title %}Add password{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/passwords/view.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block scripts %}
    <script src="/static/js/passwords/view.js"></script>
    <script src="/static/js/passwords/creation.js"></script>
{% endblock %}

{% block tabs %}
    <li class="current"><a href="/passwords">Passwords</a></li>
    <li><a href="/me">Settings</a></li>
    <li><a href="/logout">Logout</a></li>
{% endblock %}
{% block content %}

    <label for="title"></label>
    <label for="username"></label>
    <label for="password"></label>
    <label for="url"></label>
    <label for="note"></label>

    <form id="editForm" class="form" action="">
        <div class="form-head">
            <img src="/static/pictures/logo.png" alt="Secrets Logo" class="logo">
            <h2>Add a password</h2>
        </div>
        <div class="form-fields">
            <div class="form-field">
                <input type="text" class="input-field" id="title"
                       placeholder="Title" required>
            </div>
            <div class="form-field">
                <input type="text" class="input-field" id="username"
                       placeholder="Username" required>
            </div>
            <div class="form-field">
                <input type="password" class="input-field" id="password"
                       placeholder="Password" required>
                <span class="toggle-visibility material-icons md-20"
                      onclick="togglePasswordVisibility()">visibility</span>
                <span class="copy material-icons md-20" onclick="copyPasswordToClipboard()">content_copy</span>
            </div>
            <div class="form-field">
                <input type="text" class="input-field" id="url"
                       placeholder="URL">
            </div>
            <div class="form-field">
                <input type="text" class="input-field" id="note"
                       placeholder="Note">
            </div>
        </div>
        <div class="form-actions">
            <button class="btn" id="create" type="submit" onclick="return createPassword()">Add</button>
            <button class="btn icon-btn" id="back" formaction="/passwords"><span
                    class="material-icons md-20">arrow_back</span></button>
        </div>
    </form>
{% endblock %}
