{% extends "base.html" %}

{% block title %}Passwords{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/passwords/page.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block tabs %}
    <li class="current"><a href="/passwords">Passwords</a></li>
    <li><a href="/me">Account</a></li>
{% endblock %}

{% block content %}
    <h1>Create and manage passwords</h1>
    <p><b>Secure your passwords</b> with an AES encryption and access them from <b>anywhere</b> in the world.</p>
    <label for="search"></label>
    <div class="search-container">
        <input class="input-field" type="text" id="search" placeholder="Search passwords...">
        <button id="btn_add" class="btn icon-btn" onclick="window.location.assign('/passwords/add')"><i
                class="material-icons">add</i></button>
    </div>
    <table class="password-table">
        {% if passwords %}
            <caption><h2>Recently Updated</h2></caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>URL</th>
                <th></th>
            </tr>
            </thead>
        {% endif %}
        <tbody>
        {% for password in passwords %}
            <tr onclick="window.location='/passwords/{{ password.id }}'">
                <td><b><a>{{ password.title }}</a></b></td>
                <td><b>{{ password.username }}</b></td>
                <td><a href="{{ password.url }}" target="_blank">{{ password.url }}</a></td>
                <td class="arrow"><i class="material-icons">arrow_forward</i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}