<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification - Secrets</title>
    <link rel="stylesheet" href="../static/css/2fa.css">
</head>
<body>
<header>
    <h1>Secrets</h1>
</header>
<main>
    <!-- Форма двухфакторной аутентификации -->
    <div class="content">
        <div class="form-content">
            <img src="../static/pictures/logo.png" alt="Secrets Logo" class="logo">
            <h2>Login Verification</h2>
            <form class="form" action="/passwords">
                <label>
                    <input type="text" placeholder="One-Time Code" class="input-field">
                </label>
                <button type="submit" class="btn">Verify</button>
            </form>
            <p>Back to <a href="/login">Login</a></p> <!-- Добавляем ссылку на страницу входа -->
        </div>
    </div>
</main>

</body>
</html>
