{% extends "base.html" %}

{% block title %}Passwords{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="../static/css/passwords.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block tabs %}
    <li class="current"><a href="/">Passwords</a></li>
    <li><a href="/me">Account</a></li>
{% endblock %}

{% block content %}
    <div class="search-add-container">
        <input type="text" id="search" placeholder="Search passwords...">
        <button id="add"><i class="material-icons">add</i> <!-- Иконка глаза --></button>
    </div>
    <div class="card-container">
        <!-- Карточка пароля -->
        <div class="card">
            <a href="view_password.html" class="card_view">
                <h3>Example Example Example</h3>
            </a>
            <p>example_user</p>
            <a href="https://example.com" target="_blank" class="card_url">example.com</a>
        </div>
        <!-- Добавьте другие карточки здесь -->
        <div class="card">
            <a href="view_password.html" class="card_view">
                <h3>Example Example</h3>
            </a>
            <p>example_user</p>
            <a href="https://example.com" target="_blank" class="card_url">example.com</a>
        </div>
        <div class="card">
            <a href="view_password.html" class="card_view">
                <h3>Example</h3>
            </a>
            <p>example_user</p>
            <a href="https://example.com" target="_blank" class="card_url">example.com</a>
        </div>
        <div class="card">
            <a href="view_password.html" class="card_view">
                <h3>Example</h3>
            </a>
            <p>example_user</p>
            <a href="https://example.com" target="_blank" class="card_url">example.com</a>
        </div>
        <div class="card">
            <a href="view_password.html" class="card_view">
                <h3>Example</h3>
            </a>
            <p>example_user</p>
            <a href="https://example.com" target="_blank" class="card_url">example.com</a>
        </div>
    </div>
{% endblock %}
