<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Passwords - Secrets</title>
    <link rel="stylesheet" href="../static/css/passwords.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<header>
    <!-- Логотип -->
    <a href="/">
        <img src="../static/pictures/logo.png" alt="Secrets Logo" class="logo">
    </a>
    <!-- Вкладки -->
    <nav class="tabs">
        <ul>
            <li class="current"><a href="#">Passwords</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="content">
        <h2>My passwords</h2>
        <div class="search-add-container">
            <input type="text" id="search" placeholder="Search passwords...">
            <button id="add"><i class="material-icons">add</i> <!-- Иконка глаза --></button>
        </div>
        <div class="card-container">
            <!-- Карточка пароля -->
            <div class="card">
                <a href="view_password.html" class="card_view">
                    <h3>Example Example Example</h3>
                </a>
                <p>example_user</p>
                <a href="https://example.com" target="_blank" class="card_url">example.com</a>
            </div>
            <!-- Добавьте другие карточки здесь -->
            <div class="card">
                <a href="view_password.html" class="card_view">
                    <h3>Example Example</h3>
                </a>
                <p>example_user</p>
                <a href="https://example.com" target="_blank" class="card_url">example.com</a>
            </div>
            <div class="card">
                <a href="view_password.html" class="card_view">
                    <h3>Example</h3>
                </a>
                <p>example_user</p>
                <a href="https://example.com" target="_blank" class="card_url">example.com</a>
            </div>
            <div class="card">
                <a href="view_password.html" class="card_view">
                    <h3>Example</h3>
                </a>
                <p>example_user</p>
                <a href="https://example.com" target="_blank" class="card_url">example.com</a>
            </div>
            <div class="card">
                <a href="view_password.html" class="card_view">
                    <h3>Example</h3>
                </a>
                <p>example_user</p>
                <a href="https://example.com" target="_blank" class="card_url">example.com</a>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>&copy; 2024 Secrets. All rights reserved.</p>
</footer>
</body>
</html>
