{% extends "base.html" %}

{% block title %}Passwords{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="../static/css/passwords.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block tabs %}
    <li class="current"><a href="/passwords">Passwords</a></li>
    <li><a href="/me">Account</a></li>
{% endblock %}

{% block content %}
    <h1>Create and manage passwords</h1>
    <p><b>Secure your passwords</b> with an AES encryption and access them from <b>anywhere</b> in the world.</p>
    <div class="search-add-container">
        <label for="search"></label><input type="text" id="search" placeholder="Search passwords...">
        <button id="btn_add" class="btn"><i class="material-icons">add</i></button>
    </div>

    <table class="password-table">
        <caption><h2>Recently Updated</h2></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>URL</th>
                <th></th> <!-- Дополнительный столбец для стрелки -->
            </tr>
        </thead>
        <tbody>
            <!-- Password row -->
            <tr onclick="window.location='/passwords/{password_id}'"> <!-- Добавлен обработчик клика -->
                <td><a href="view_password.html"><b>Facebook</b></a></td>
                <td><b>example_user</b></td>
                <td><a href="https://example.com" target="_blank">example.com</a></td>
                <td class="arrow"><i class="material-icons">arrow_forward</i></td> <!-- Стрелка для перехода к паролю -->
            </tr>
            <tr onclick="window.location='/passwords/{password_id}'"> <!-- Добавлен обработчик клика -->
                <td><a href="view_password.html"><b>Google</b></a></td>
                <td><b>example_user123</b></td>
                <td><a href="https://example.com" target="_blank">example.com</a></td>
                <td class="arrow"><i class="material-icons">arrow_forward</i></td> <!-- Стрелка для перехода к паролю -->
            </tr>
            <tr onclick="window.location='/passwords/{password_id}'"> <!-- Добавлен обработчик клика -->
                <td><a href="view_password.html"><b>Instagram</b></a></td>
                <td><b>example_user321</b></td>
                <td><a href="https://example.com" target="_blank">example.com</a></td>
                <td class="arrow"><i class="material-icons">arrow_forward</i></td> <!-- Стрелка для перехода к паролю -->
            </tr>
        </tbody>
    </table>
{% endblock %}