.input-field {
    width: 100%;
    max-width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    box-sizing: border-box;
    display: block;
    margin: 10px auto;
}
