@import url('input.css');
@import url('icon_button.css');

.search-add-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: 800px;
}

#search {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
