@import url('components/header.css');
@import url('components/animation.css');
@import url('components/buttons.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1e22; /* Темный фон */
    color: #ffffff; /* Белый текст */
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем по вертикали */
    min-height: 100vh; /* Для фиксации подвала внизу страницы */
}

main {
    flex: 1; /* Растягиваем основной контент на всю доступную высоту */
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    width: 100%; /* Делаем контейнер растягивающимся */
}

.content {
    text-align: center;
    animation: slideInLeft ease 1s; /* Анимация */
    margin: 20px;
    box-sizing: border-box;
    width: 100%; /* Делаем контейнер растягивающимся */
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #ffffff; /* Белый текст */
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #c8d1d9; /* Белый текст */
}

footer {
    background-color: #2b2e34; /* Цвет подвала */
    text-align: center;
    width: 100%;
}

footer p {
    margin: 10px;
    font-size: 14px;
    color: #c8d1d9; /* Белый текст */
}

main img {
    width: 120px; /* Уменьшаем ширину логотипа */
    height: auto; /* Автоматически вычисляем высоту */
    margin-bottom: 20px; /* Добавляем отступ снизу */
}
