@import url('../base.css');
@import url('../components/search.css');
@import url('../components/table.css');
@import url('../components/button.css');

.search-container {
    margin-bottom: 24px;
}

h2 {
    font-size: 20px;
    text-align: left;
    margin-left: 16px;
}
