@import url('../base.css');
@import url('../components/input.css');
@import url('../components/button.css');
@import url('../components/form.css');

.password-details {
    display: flex;
    flex-direction: column;
    background-color: var(--form-bg-color);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 16px;
    gap: 8px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.toggle-visibility, .copy {
    cursor: pointer;
}

.btn {
    height: 44px;
}

#updated_at {
    text-align: right;
    margin: 0;
}