{% extends "base.html" %}

{% block title %}Login to account{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/auth/login.css">
{% endblock %}

{% block scripts %}
    <script src="/static/js/base.js"></script>
    <script src="/static/js/auth/2fa.js"></script>
{% endblock %}

{% block tabs %}
    <li class="current"><a href="/">Onboarding</a></li>
    <li><a href="/about">About</a></li>
{% endblock %}

{% block content %}
    <div class="form-content">
        <img src="/static/pictures/logo.png" alt="Secrets Logo" class="logo">
        <h2>Login Verification</h2>
        <form class="form" action="/passwords">
            <label>
                <input type="text" placeholder="One-Time Code" class="input-field">
            </label>
            <button type="submit" class="btn">Verify</button>
        </form>
        <p>Back to <a href="/login">Login</a></p> <!-- Добавляем ссылку на страницу входа -->
    </div>
{% endblock %}
