{% extends "base.html" %}

{% block title %}Login to account{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/auth/login.css">
{% endblock %}

{% block scripts %}
    <script src="/static/js/base.js"></script>
    <script src="/static/js/auth/login.js"></script>
{% endblock %}

{% block tabs %}
    <li><a href="/">Onboarding</a></li>
    <li class="current"><a href="/login">Login</a></li>
    <li><a href="/about">About</a></li>
{% endblock %}

{% block content %}
    <div class="form-content">
        <img src="/static/pictures/logo.png" alt="Secrets Logo" class="logo">
        <h2>Login to account</h2>
        <form id="loginForm" class="form" action="">
            <label>
                <input type="text" id="email" placeholder="Email" class="input-field" required>
            </label>
            <label>
                <input type="password" id="password" placeholder="Password" class="input-field" required>
            </label>
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
{% endblock %}
